In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
import os
import statsmodels.api as sm

import warnings
warnings.filterwarnings('ignore')

In [2]:
data_dir = "..\\data"

## Read data

In [3]:
def read_ff(filename, market):
    """
    Read ff portfolios
    """
    df = pd.read_excel(os.path.join(data_dir, filename), na_values=[-99.99])
    df['Date'] = pd.to_datetime(df['Date'], format='%Y%m').dt.to_period('M')
    df = df.set_index('Date')
    if market == 'EM':
        df = df.loc['1991-07':'2019-12']
    else:
        df = df.loc['1990-07':'2019-12']
    return df

def read_qmj(market):
    """
    Read all QMJ (AQR) data for given market
    """
    smb = pd.read_excel(os.path.join(data_dir, 'QMJ_SMB_{0}.xlsx'.format(market)), index_col=0, parse_dates=['Date'])
    mkt_rf = pd.read_excel(os.path.join(data_dir, 'QMJ_Mkt-RF_{0}.xlsx'.format(market)), index_col=0, parse_dates=['Date'])
    hml = pd.read_excel(os.path.join(data_dir, 'QMJ_HML_{0}.xlsx'.format(market)), index_col=0, parse_dates=['Date'])
    wml = pd.read_excel(os.path.join(data_dir, 'QMJ_WML_{0}.xlsx'.format(market)), index_col=0, parse_dates=['Date'])
    qmj = pd.read_excel(os.path.join(data_dir, 'QMJ_{0}.xlsx'.format(market)), index_col=0, parse_dates=['Date'])
    
    df = smb.join(mkt_rf).join(hml).join(wml).join(qmj)
    df = df.loc['1993-07':'2019-12']
    return df
    
def describe(df, n=2):
    print(df.shape)
    display(df.head(n))
    display(df.tail(n))

## Regression Logic

In [4]:
def run_regression(y, X=None):
    """
    Run regression based on X and y
    """
    if X is not None:
        X = sm.add_constant(X) 
    else:
        X = np.ones((len(y), 1))
        
    model = sm.OLS(endog=y, exog=X).fit()
    coeff = model.params.values
    tvalues = model.tvalues.values
    
    if X.shape[1] == 1:
        return '{0:.2f}'.format(coeff[0]), '({0:.2f})'.format(tvalues[0])
    
    return ['{0:.2f}'.format(x) for x in coeff], ['({0:.2f})'.format(x) for x in tvalues]


def get_exog(df, col):
    """
    Prepare X dataframe as per given column
    """
    if col is 'alpha':
        return None
    elif col == 'Mkt':
        return df[['Mkt-RF']]
    elif col == 'Mkt(-1)':
        X = df[['Mkt-RF']]
        X['Mkt-RF(-1)'] = X['Mkt-RF'].shift(1)
        X = X.dropna()
        return X
    elif col == 'WML':
        X = df[['Mkt-RF', 'HML', 'WML']]
        X['Mkt-RF(-1)'] = X['Mkt-RF'].shift(1)
        X = X.dropna()
        X = X.reindex(columns=['Mkt-RF', 'Mkt-RF(-1)', 'HML', 'WML'])
        return X
    elif col == 'QMJ':
        X = df[['Mkt-RF', 'HML', 'WML', 'QMJ']]
        X['Mkt-RF(-1)'] = X['Mkt-RF'].shift(1)
        X = X.dropna()
        X = X.reindex(columns=['Mkt-RF', 'Mkt-RF(-1)', 'HML', 'WML', 'QMJ'])
        return X

In [5]:
def get_exhibit(ff3, ff5_wml, market_name=''):
    """
    Get exhibit results for a particular market
    """
    # Exhibit template
    exhibit = pd.DataFrame(columns=['alpha', 'Mkt', 'Mkt(-1)', 'HML', 'WML', 'QMJ'],
                        index=pd.MultiIndex.from_product([[1, 2, 3, 4], ['coeff.', 't-stat.']], names=['', market_name]))
    exhibit = exhibit.fillna('-')
    
    # Fill up exhibit template
    endogs = [['alpha'], 
              ['alpha', 'Mkt', 'Mkt(-1)'],
              ['alpha', 'Mkt', 'Mkt(-1)', 'HML', 'WML'], 
              ['alpha', 'Mkt', 'Mkt(-1)', 'HML', 'WML', 'QMJ']]

    for idx, cols in enumerate(endogs, 1):
        y = ff3['SMB']
        end_col = cols[-1]
        if end_col == 'alpha':
            coeff, tvalues = run_regression(y=y, X=None)
            exhibit.loc[(idx, 'coeff.'), cols] = coeff
            exhibit.loc[(idx, 't-stat.'), cols] = tvalues
        elif end_col == 'Mkt(-1)':
            y = y.iloc[1:] # due to Mkt(-1) factor in X variable
            X = get_exog(df=ff3, col=end_col)
            coeff, tvalues = run_regression(y=y, X=X)
            exhibit.loc[(idx, 'coeff.'), cols] = coeff
            exhibit.loc[(idx, 't-stat.'), cols] = tvalues
        elif end_col == 'WML':
            X = get_exog(df=ff5_wml, col=end_col)
            y = y.loc[X.index.values[0]:] # due to Mkt(-1) factor in X variable
            coeff, tvalues = run_regression(y=y, X=X)
            exhibit.loc[(idx, 'coeff.'), cols] = coeff
            exhibit.loc[(idx, 't-stat.'), cols] = tvalues
        elif end_col == 'QMJ':
            X = get_exog(df=ff5_wml, col=end_col)
            y = y.loc[X.index.values[0]:] # due to Mkt(-1) factor in X variable
            coeff, tvalues = run_regression(y=y, X=X)
            exhibit.loc[(idx, 'coeff.'), cols] = coeff
            exhibit.loc[(idx, 't-stat.'), cols] = tvalues
            
    return exhibit

## Europe

In [6]:
qmj_eu = read_qmj(market='EU')
describe(qmj_eu)

(318, 5)

                 SMB    Mkt-RF       HML       WML       QMJ
Date
1993-07-31  0.275125  0.985975  3.207785 -0.542025 -0.293080
1993-08-31  1.017571  8.351615  0.954115 -0.475319  0.986506

                 SMB    Mkt-RF       HML       WML       QMJ
Date
2019-11-30  1.083026  1.927848 -1.979105 -0.102025  0.898360
2019-12-31  1.756236  4.116264  0.727179  0.932354 -1.569102

In [7]:
exhibit3_eu = get_exhibit(ff3=qmj_eu, ff5_wml=qmj_eu, market_name='Europe')
exhibit3_eu

             alpha      Mkt Mkt(-1)      HML      WML      QMJ
  Europe
1 coeff.     -0.12        -       -        -        -        -
  t-stat.  (-1.06)        -       -        -        -        -
2 coeff.     -0.19    -0.03    0.17        -        -        -
  t-stat.  (-1.86)  (-1.52)  (7.94)        -        -        -
3 coeff.     -0.12    -0.04    0.17    -0.10    -0.03        -
  t-stat.  (-1.08)  (-1.89)  (8.09)  (-2.33)  (-1.20)        -
4 coeff.     -0.01    -0.11    0.16    -0.14     0.03    -0.27
  t-stat.  (-0.08)  (-3.79)  (7.57)  (-3.08)   (1.03)  (-3.59)

## Pacific

In [8]:
qmj_pacf = read_qmj(market='PACF')
describe(qmj_pacf)

(318, 5)

                 SMB    Mkt-RF       HML       WML       QMJ
Date
1993-07-31 -2.103226  5.965922  0.694734  1.016007 -0.375292
1993-08-31 -1.075152  2.440945 -0.610049  0.511612 -0.192229

                 SMB    Mkt-RF       HML       WML       QMJ
Date
2019-11-30 -0.271705 -0.083537 -1.243544  0.344728  0.579537
2019-12-31 -0.037637  3.728042  1.065511 -0.411276 -0.187548

In [9]:
exhibit3_pacf = get_exhibit(ff3=qmj_pacf, ff5_wml=qmj_pacf, market_name='Pacific')
exhibit3_pacf

             alpha      Mkt Mkt(-1)      HML      WML      QMJ
  Pacific
1 coeff.     -0.16        -       -        -        -        -
  t-stat.  (-1.41)        -       -        -        -        -
2 coeff.     -0.18     0.02    0.10        -        -        -
  t-stat.  (-1.64)   (1.02)  (4.53)        -        -        -
3 coeff.     -0.19     0.02    0.10     0.05    -0.01        -
  t-stat.  (-1.71)   (0.98)  (4.50)   (0.89)  (-0.36)        -
4 coeff.      0.06    -0.11    0.10    -0.12     0.06    -0.46
  t-stat.   (0.59)  (-4.22)  (4.81)  (-2.27)   (1.97)  (-7.70)