<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><span><a href="#Utility-functions" data-toc-modified-id="Utility-functions-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Utility functions</a></span></li><li><span><a href="#Regression-Logic" data-toc-modified-id="Regression-Logic-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Regression Logic</a></span></li><li><span><a href="#SMB_5F" data-toc-modified-id="SMB_5F-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>SMB_5F</a></span></li><li><span><a href="#SMB_RMW" data-toc-modified-id="SMB_RMW-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>SMB_RMW</a></span></li><li><span><a href="#SMB_QMJ" data-toc-modified-id="SMB_QMJ-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>SMB_QMJ</a></span></li><li><span><a href="#SMB_beta_QMJ" data-toc-modified-id="SMB_beta_QMJ-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>SMB_beta_QMJ</a></span></li><li><span><a href="#SMB_IA-ROE" data-toc-modified-id="SMB_IA-ROE-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>SMB_IA-ROE</a></span></li><li><span><a href="#SMB_EG" data-toc-modified-id="SMB_EG-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>SMB_EG</a></span></li></ul></div>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
import os
import statsmodels.api as sm
import datetime

import warnings
warnings.filterwarnings('ignore')

In [2]:
data_dir = "..\\data"

# Utility functions

In [3]:
def read_ff(filename):
    """
    Read ff portfolios
    """
    df = pd.read_excel(os.path.join(data_dir, filename), na_values=[-99.99])
    df['Date'] = pd.to_datetime(df['Date'], format='%Y%m').dt.to_period('M')
    df = df.set_index('Date')
    df = df.loc['1963-07':'2019-12']
    return df

def read_qmj(filename):
    """
    Read QMJ (AQR factor)
    """
    df = pd.read_excel(os.path.join(data_dir, filename))
    df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y').dt.to_period('M')
    df = df.set_index('Date')
    df = df.loc['1963-01':'2019-12']
    return df


def read_qfactors(filename):
    """
    Read Q-Factors
    """
    df = pd.read_excel(os.path.join(data_dir, filename))
    df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y').dt.to_period('M')
    df = df.set_index('Date')
    df = df.loc['1967-01':'2019-12']
    return df


def read_qfactors_for_multisorts(filename):
    """
    Read Q-factors
    """
    df = pd.read_excel(os.path.join(data_dir, filename))
    df['rank_ME'] = df['rank_ME'].astype(str)
    df['Date'] = pd.to_datetime(df['year'].astype(str) + df['month'].astype(str).apply(lambda x: x.zfill(2)), format='%Y%m')
    df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d').dt.to_period('M')
    df = df.drop(['year', 'month'], axis=1)
    return df
    
    
def create_smb_factor_from_rmw(df):
    """
    Create size factor from 2x3 sorts of size x profitability
    """
    df['SMB'] = (1/3)*((df['SMALL LoOP'] + df['ME1 OP2'] + df['SMALL HiOP']) - (df['BIG LoOP'] + df['ME2 OP2'] + df['BIG HiOP']))
    return df


def create_smb_factor_from_qfactor_ia_roe(df):
    """
    Create size factor from 2x3x3 sort of size x IA x ROE Q-factors
    """
    df = df.groupby(['Date', 'rank_ME'])[['ret_vw']].mean().unstack().reset_index()
    df.columns = [' '.join(col).strip() for col in df.columns]
    df['SMB'] = df['ret_vw 1'] - df['ret_vw 2']
    return df[['Date', 'SMB']].set_index('Date')
    
    
def create_smb_factor_from_qfactor_eg(df):
    """
    Create size factor from 2x3 sort of size X EG (expected growth)
    """
    df = df.groupby(['Date', 'rank_ME'])[['ret_vw']].mean().unstack().reset_index()
    df.columns = [' '.join(col).strip() for col in df.columns]
    df['SMB'] = df['ret_vw 1'] - df['ret_vw 2']
    return df[['Date', 'SMB']].set_index('Date')

    
def describe(df, n=2):
    print(df.shape)
    display(df.head(n))
    display(df.tail(n))

# Regression Logic

In [4]:
def run_regression(y, X=None):
    """
    Run regression based on X and y
    """
    if X is not None:
        X = sm.add_constant(X) 
    else:
        X = np.ones((len(y), 1))
        
    model = sm.OLS(endog=y, exog=X).fit()
    coeff = model.params.values
    tvalues = model.tvalues.values
    
    if X.shape[1] == 1:
        return '{0:.2f}'.format(coeff[0]), '({0:.2f})'.format(tvalues[0])
    
    return ['{0:.2f}'.format(x) for x in coeff], ['({0:.2f})'.format(x) for x in tvalues]


def get_exog(df, col):
    """
    Prepare X dataframe as per given column
    """
    if col is 'alpha':
        return None
    elif col == 'Mkt':
        return df[['Mkt-RF']]
    elif col == 'Mkt(-1)':
        X = df[['Mkt-RF']]
        X['Mkt-RF(-1)'] = X['Mkt-RF'].shift(1)
        X = X.dropna()
        return X
    elif col == 'WML':
        X = df[['Mkt-RF', 'HML', 'WML']]
        X['Mkt-RF(-1)'] = X['Mkt-RF'].shift(1)
        X = X.dropna()
        X = X.reindex(columns=['Mkt-RF', 'Mkt-RF(-1)', 'HML', 'WML'])
        return X
    elif col == 'CMA':
        X = df[['Mkt-RF', 'HML', 'WML', 'RMW', 'CMA']]
        X['Mkt-RF(-1)'] = X['Mkt-RF'].shift(1)
        X = X.dropna()
        X = X.reindex(columns=['Mkt-RF', 'Mkt-RF(-1)', 'HML', 'WML', 'RMW', 'CMA'])
        return X
    elif col == 'QMJ':
        X = df[['Mkt-RF', 'HML', 'WML', 'QMJ']]
        X['Mkt-RF(-1)'] = X['Mkt-RF'].shift(1)
        X = X.dropna()
        X = X.reindex(columns=['Mkt-RF', 'Mkt-RF(-1)', 'HML', 'WML', 'QMJ'])
        return X
    elif col == 'EG':
        X = df[['Mkt-RF', 'IA', 'ROE', 'EG']]
        X['Mkt-RF(-1)'] = X['Mkt-RF'].shift(1)
        X = X.dropna()
        X = X.reindex(columns=['Mkt-RF', 'Mkt-RF(-1)', 'IA', 'ROE', 'EG'])
        return X

In [5]:
def get_exhibit(ff3, ff5_wml, name=''):
    """
    Get exhibit results for a particular market
    """
    # Exhibit template
    exhibit = pd.DataFrame(columns=['alpha', 'Mkt', 'Mkt(-1)', 'HML', 'WML', 'RMW', 'CMA', 'QMJ'],
                        index=pd.MultiIndex.from_product([[1, 2, 3, 4, 5, 6], ['coeff.', 't-stat.']], names=['', name]))
    exhibit = exhibit.fillna('-')
    
    # Fill up exhibit template
    endogs = [['alpha'], 
              ['alpha', 'Mkt'],
              ['alpha', 'Mkt', 'Mkt(-1)'],
              ['alpha', 'Mkt', 'Mkt(-1)', 'HML', 'WML'], 
              ['alpha', 'Mkt', 'Mkt(-1)', 'HML', 'WML', 'RMW', 'CMA'], 
              ['alpha', 'Mkt', 'Mkt(-1)', 'HML', 'WML', 'QMJ']]

    for idx, cols in enumerate(endogs, 1):
        y = ff5_wml['SMB']
        end_col = cols[-1]
        if end_col == 'alpha':
            coeff, tvalues = run_regression(y=y, X=None)
            exhibit.loc[(idx, 'coeff.'), cols] = coeff
            exhibit.loc[(idx, 't-stat.'), cols] = tvalues
        elif end_col == 'Mkt':
            X = get_exog(df=ff5_wml, col=end_col)
            coeff, tvalues = run_regression(y=y, X=X)
            exhibit.loc[(idx, 'coeff.'), cols] = coeff
            exhibit.loc[(idx, 't-stat.'), cols] = tvalues
        elif end_col == 'Mkt(-1)':
            y = y.iloc[1:] # due to Mkt(-1) factor in X variable
            X = get_exog(df=ff5_wml, col=end_col)
            coeff, tvalues = run_regression(y=y, X=X)
            exhibit.loc[(idx, 'coeff.'), cols] = coeff
            exhibit.loc[(idx, 't-stat.'), cols] = tvalues
        elif end_col == 'WML':
            X = get_exog(df=ff5_wml, col=end_col)
            y = y.loc[X.index.values[0]:] # due to Mkt(-1) factor in X variable
            coeff, tvalues = run_regression(y=y, X=X)
            exhibit.loc[(idx, 'coeff.'), cols] = coeff
            exhibit.loc[(idx, 't-stat.'), cols] = tvalues
        elif end_col == 'CMA':
            X = get_exog(df=ff5_wml, col=end_col)
            y = y.loc[X.index.values[0]:] # due to Mkt(-1) factor in X variable
            coeff, tvalues = run_regression(y=y, X=X)
            exhibit.loc[(idx, 'coeff.'), cols] = coeff
            exhibit.loc[(idx, 't-stat.'), cols] = tvalues
        elif end_col == 'QMJ':
            X = get_exog(df=ff5_wml, col=end_col)
            y = y.loc[X.index.values[0]:] # due to Mkt(-1) factor in X variable
            coeff, tvalues = run_regression(y=y, X=X)
            exhibit.loc[(idx, 'coeff.'), cols] = coeff
            exhibit.loc[(idx, 't-stat.'), cols] = tvalues
            
    return exhibit

In [6]:
def get_exhibit_for_qfactors(ff3, ff5, name=''):
    """
    Get exhibit results for q-factors
    """
    # Exhibit template
    exhibit = pd.DataFrame(columns=['alpha', 'Mkt', 'Mkt(-1)', 'IA', 'ROE', 'EG'],
                        index=pd.MultiIndex.from_product([[1, 2, 3, 4], ['coeff.', 't-stat.']], names=['', name]))
    exhibit = exhibit.fillna('-')
    
    # Fill up exhibit template
    endogs = [['alpha'], 
              ['alpha', 'Mkt'],
              ['alpha', 'Mkt', 'Mkt(-1)'],
              ['alpha', 'Mkt', 'Mkt(-1)', 'IA', 'ROE', 'EG']]

    for idx, cols in enumerate(endogs, 1):
        y = ff5['SMB']
        end_col = cols[-1]
        if end_col == 'alpha':
            coeff, tvalues = run_regression(y=y, X=None)
            exhibit.loc[(idx, 'coeff.'), cols] = coeff
            exhibit.loc[(idx, 't-stat.'), cols] = tvalues
        elif end_col == 'Mkt':
            X = get_exog(df=ff5, col=end_col)
            coeff, tvalues = run_regression(y=y, X=X)
            exhibit.loc[(idx, 'coeff.'), cols] = coeff
            exhibit.loc[(idx, 't-stat.'), cols] = tvalues
        elif end_col == 'Mkt(-1)':
            y = y.iloc[1:] # due to Mkt(-1) factor in X variable
            X = get_exog(df=ff5, col=end_col)
            coeff, tvalues = run_regression(y=y, X=X)
            exhibit.loc[(idx, 'coeff.'), cols] = coeff
            exhibit.loc[(idx, 't-stat.'), cols] = tvalues
        elif end_col == 'EG':
            X = get_exog(df=ff5, col=end_col)
            y = y.loc[X.index.values[0]:] # due to Mkt(-1) factor in X variable
            coeff, tvalues = run_regression(y=y, X=X)
            exhibit.loc[(idx, 'coeff.'), cols] = coeff
            exhibit.loc[(idx, 't-stat.'), cols] = tvalues
            
    return exhibit

# SMB_5F

In [7]:
# FF3 
ff3_us = read_ff("FF3_US.xlsx")

# FF5 
ff5_us = read_ff("FF5_US.xlsx")

# WML a.k.a Momentum
wml_us = read_ff("WML_US.xlsx")

# QMJ
qmj_us = read_qmj("QMJ_US.xlsx")

# FF5 + Momentum 
ff5_wml_qmj_us = ff5_us.join(wml_us).join(qmj_us)
describe(ff5_wml_qmj_us)

(678, 8)

         Mkt-RF   SMB   HML   RMW   CMA    RF   WML       QMJ
Date
1963-07   -0.39 -0.47 -0.83  0.66 -1.15  0.27  1.00  0.684436
1963-08    5.07 -0.79  1.67  0.40 -0.40  0.25  1.03 -0.991462

         Mkt-RF   SMB   HML   RMW   CMA    RF   WML       QMJ
Date
2019-11    3.87  0.50 -1.86 -1.50 -1.29  0.12 -2.62 -1.824954
2019-12    2.77  0.96  1.83  0.21  1.31  0.14 -2.13 -2.387856

In [8]:
exhibit5_smb_5f = get_exhibit(ff3=ff3_us, ff5_wml=ff5_wml_qmj_us, name='SMB_5F')
exhibit5_smb_5f

            alpha     Mkt Mkt(-1)      HML     WML      RMW      CMA       QMJ
  SMB_5F
1 coeff.     0.23       -       -        -       -        -        -         -
  t-stat.  (1.97)       -       -        -       -        -        -         -
2 coeff.     0.13    0.19       -        -       -        -        -         -
  t-stat.  (1.12)  (7.49)       -        -       -        -        -         -
3 coeff.     0.06    0.18    0.13        -       -        -        -         -
  t-stat.  (0.54)  (7.30)  (5.21)        -       -        -        -         -
4 coeff.     0.05    0.18    0.13     0.00    0.01        -        -         -
  t-stat.  (0.43)  (7.00)  (5.22)   (0.07)  (0.46)        -        -         -
5 coeff.     0.19    0.13    0.13     0.07    0.04    -0.43    -0.13         -
  t-stat.  (1.75)  (4.72)  (5.37)   (1.38)  (1.38)  (-8.58)  (-1.71)         -
6 coeff.     0.39    0.01    0.10    -0.07    0.07        -        -     -0.65
  t-stat.  (3.63)  (0.36)  (4.42)  (-1.85)  (2.81)        -        -  (-11.85)

# SMB_RMW

In [9]:
# FF3 
ff3_us = read_ff("FF3_US.xlsx")

# FF5 
ff5_us = read_ff("FF5_US.xlsx")
ff5_us = ff5_us.drop(['SMB'], axis=1) # we are taking RWM size factor, not FF5 factor -- so drop it.

# SMB-RMW factor
smb_rmw_us = read_ff("SMB_RMW_US.xlsx")
smb_rmw_us = create_smb_factor_from_rmw(smb_rmw_us)
ff5_us = ff5_us.join(smb_rmw_us[['SMB']])

# WML a.k.a Momentum
wml_us = read_ff("WML_US.xlsx")

# QMJ
qmj_us = read_qmj("QMJ_US.xlsx")

# FF5 + Momentum 
ff5_wml_qmj_us = ff5_us.join(wml_us).join(qmj_us)
describe(ff5_wml_qmj_us)

(678, 8)

         Mkt-RF   HML   RMW   CMA    RF       SMB   WML       QMJ
Date
1963-07   -0.39 -0.83  0.66 -1.15  0.27 -0.486867  1.00  0.684436
1963-08    5.07  1.67  0.40 -0.40  0.25 -0.629567  1.03 -0.991462

         Mkt-RF   HML   RMW   CMA    RF       SMB   WML       QMJ
Date
2019-11    3.87 -1.86 -1.50 -1.29  0.12  0.100233 -2.62 -1.824954
2019-12    2.77  1.83  0.21  1.31  0.14  1.165833 -2.13 -2.387856

In [10]:
exhibit5_smb_rmw = get_exhibit(ff3=ff3_us, ff5_wml=ff5_wml_qmj_us, name='SMB_RMW')
exhibit5_smb_rmw

            alpha     Mkt Mkt(-1)     HML     WML      RMW      CMA      QMJ
  SMB_RMW
1 coeff.     0.27       -       -       -       -        -        -        -
  t-stat.  (2.37)       -       -       -       -        -        -        -
2 coeff.     0.18    0.17       -       -       -        -        -        -
  t-stat.  (1.60)  (6.79)       -       -       -        -        -        -
3 coeff.     0.11    0.16    0.14       -       -        -        -        -
  t-stat.  (1.01)  (6.58)  (5.45)       -       -        -        -        -
4 coeff.     0.07    0.18    0.13    0.08    0.02        -        -        -
  t-stat.  (0.59)  (6.83)  (5.41)  (1.97)  (0.60)        -        -        -
5 coeff.     0.15    0.14    0.13    0.14    0.03    -0.24    -0.11        -
  t-stat.  (1.36)  (5.16)  (5.42)  (2.50)  (1.14)  (-4.67)  (-1.39)        -
6 coeff.     0.33    0.04    0.11    0.02    0.06        -        -    -0.50
  t-stat.  (2.98)  (1.51)  (4.72)  (0.61)  (2.35)        -        -  (-8.88)

# SMB_QMJ

In [11]:
# FF3 
ff3_us = read_ff("FF3_US.xlsx")

# FF5 
ff5_us = read_ff("FF5_US.xlsx")
ff5_us = ff5_us.drop(['SMB'], axis=1) # we are using SMB factor from QMJ factor library, so drop FF5 SMB factor

# Read SMB from QMJ
qmj_smb_us = read_qmj("QMJ_SMB_US.xlsx")
ff5_us = ff5_us.join(qmj_smb_us[['SMB']])

# WML a.k.a Momentum
wml_us = read_ff("WML_US.xlsx")

# QMJ
qmj_us = read_qmj("QMJ_US.xlsx")

# FF5 + Momentum 
ff5_wml_qmj_us = ff5_us.join(wml_us).join(qmj_us)
describe(ff5_wml_qmj_us)

(678, 8)

         Mkt-RF   HML   RMW   CMA    RF       SMB   WML       QMJ
Date
1963-07   -0.39 -0.83  0.66 -1.15  0.27 -0.696957  1.00  0.684436
1963-08    5.07  1.67  0.40 -0.40  0.25 -0.452271  1.03 -0.991462

         Mkt-RF   HML   RMW   CMA    RF       SMB   WML       QMJ
Date
2019-11    3.87 -1.86 -1.50 -1.29  0.12  0.381239 -2.62 -1.824954
2019-12    2.77  1.83  0.21  1.31  0.14  1.653724 -2.13 -2.387856

In [12]:
exhibit5_smb_qmj = get_exhibit(ff3=ff3_us, ff5_wml=ff5_wml_qmj_us, name='SMB_QMJ')
exhibit5_smb_qmj

             alpha      Mkt Mkt(-1)      HML      WML      RMW      CMA  \
  SMB_QMJ
1 coeff.      0.14        -       -        -        -        -        -
  t-stat.   (1.31)        -       -        -        -        -        -
2 coeff.      0.04     0.18       -        -        -        -        -
  t-stat.   (0.38)   (8.01)       -        -        -        -        -
3 coeff.     -0.04     0.18    0.15        -        -        -        -
  t-stat.  (-0.37)   (7.84)  (6.74)        -        -        -        -
4 coeff.      0.02     0.16    0.15    -0.08    -0.04        -        -
  t-stat.   (0.21)   (6.69)  (6.72)  (-2.21)  (-1.48)        -        -
5 coeff.      0.17     0.10    0.15     0.01    -0.01    -0.41    -0.17
  t-stat.   (1.69)   (4.14)  (6.98)   (0.13)  (-0.53)  (-9.19)  (-2.45)
6 coeff.      0.34    -0.01    0.12    -0.15     0.02        -        -
  t-stat.   (3.61)  (-0.27)  (6.05)  (-4.48)   (0.85)        -        -

                QMJ
  SMB_QMJ
1 coeff.          -
  t-stat.         -
2 coeff.          -
  t-stat.         -
3 coeff.          -
  t-stat.         -
4 coeff.          -
  t-stat.         -
5 coeff.          -
  t-stat.         -
6 coeff.      -0.61
  t-stat.  (-12.65)

# SMB_beta_QMJ

> <font color='red'>
> I've not been able to reproduce this table since I do not have size factor based on 2x3 sorts on size and the past 36-month beta of a stock towards the QMJ factor. This is self-constructed by authors.

# SMB_IA-ROE

In [13]:
# FF3 
ff3_us = read_ff("FF3_US.xlsx")

# FF5 
ff5_us = read_ff("FF5_US.xlsx")
ff5_us = ff5_us.drop(['SMB'], axis=1) # we are using SMB factor from QMJ factor library, so drop FF5 SMB factor

# Read Q-factor 2x3x3 portfolio for size x IA x ROE
qfactor_ia_roe_us = read_qfactors_for_multisorts("QFactor_IA_ROE_US.xlsx")
qfactor_ia_roe_us = create_smb_factor_from_qfactor_ia_roe(qfactor_ia_roe_us)

# Join IA/ROE first, so series starts from 1967-01 as mentioned in paper
ff5_us = qfactor_ia_roe_us.join(ff5_us)

# Read Q-factors of IA, ROE and EG for US
qfactor_us = read_qfactors("QFactor_US.xlsx")

# Join original factors with Q-factors 
ff5_us = ff5_us.join(qfactor_us)
describe(ff5_us)

(636, 12)

,SMB,Mkt-RF,HML,RMW,CMA,RF,R_F,R_MKT,R_ME,IA,ROE,EG
Date,,,,,,,,,,,,
1967-01,6.728211,8.15,2.22,0.62,-2.97,0.43,0.3927,8.1603,6.7282,-2.9434,1.8866,-2.2469
1967-02,1.691789,0.78,-2.17,1.94,-0.94,0.36,0.3743,0.7202,1.6918,-0.2064,3.5317,2.5812

,SMB,Mkt-RF,HML,RMW,CMA,RF,R_F,R_MKT,R_ME,IA,ROE,EG
Date,,,,,,,,,,,,
2019-11,-0.026111,3.87,-1.86,-1.50,-1.29,0.12,0.1197,3.3774,-0.0261,-1.0127,-1.1667,-0.3332
2019-12,1.282156,2.77,1.83,0.21,1.31,0.14,0.1431,2.7017,1.2822,1.8360,-1.3200,-0.7981

In [14]:
exhibit5_ia_roe = get_exhibit_for_qfactors(ff3=ff3_us, ff5=ff5_us, name='SMB_IA-ROE')
exhibit5_ia_roe

               alpha     Mkt Mkt(-1)       IA      ROE       EG
  SMB_IA-ROE
1 coeff.        0.27       -       -        -        -        -
  t-stat.     (2.27)       -       -        -        -        -
2 coeff.        0.17    0.18       -        -        -        -
  t-stat.     (1.48)  (7.02)       -        -        -        -
3 coeff.        0.11    0.17    0.11        -        -        -
  t-stat.     (0.92)  (6.71)  (4.47)        -        -        -
4 coeff.        0.54    0.09    0.09    -0.01    -0.21    -0.31
  t-stat.     (4.25)  (3.09)  (3.58)  (-0.22)  (-4.09)  (-4.11)

# SMB_EG

In [15]:
# FF3 
ff3_us = read_ff("FF3_US.xlsx")

# FF5 
ff5_us = read_ff("FF5_US.xlsx")
ff5_us = ff5_us.drop(['SMB'], axis=1) # we are using SMB factor from QMJ factor library, so drop FF5 SMB factor

# Read Q-factor 2x3 for size x EG portfolio
qfactor_eg_us = read_qfactors_for_multisorts("QFactor_EG_US.xlsx")
qfactor_eg_us = create_smb_factor_from_qfactor_eg(qfactor_eg_us)

# Join IA/ROE first, so series starts from 1967-01 as mentioned in paper
ff5_us = qfactor_eg_us.join(ff5_us)

# Read Q-factors of IA, ROE and EG for US
qfactor_us = read_qfactors("QFactor_US.xlsx")

# Join original factors with Q-factors 
ff5_us = ff5_us.join(qfactor_us)
describe(ff5_us)

(636, 12)

,SMB,Mkt-RF,HML,RMW,CMA,RF,R_F,R_MKT,R_ME,IA,ROE,EG
Date,,,,,,,,,,,,
1967-01,9.251533,8.15,2.22,0.62,-2.97,0.43,0.3927,8.1603,6.7282,-2.9434,1.8866,-2.2469
1967-02,2.061533,0.78,-2.17,1.94,-0.94,0.36,0.3743,0.7202,1.6918,-0.2064,3.5317,2.5812

,SMB,Mkt-RF,HML,RMW,CMA,RF,R_F,R_MKT,R_ME,IA,ROE,EG
Date,,,,,,,,,,,,
2019-11,0.514800,3.87,-1.86,-1.50,-1.29,0.12,0.1197,3.3774,-0.0261,-1.0127,-1.1667,-0.3332
2019-12,1.996267,2.77,1.83,0.21,1.31,0.14,0.1431,2.7017,1.2822,1.8360,-1.3200,-0.7981

In [16]:
exhibit5_eg = get_exhibit_for_qfactors(ff3=ff3_us, ff5=ff5_us, name='SMB_EG')
exhibit5_eg

            alpha     Mkt Mkt(-1)      IA      ROE       EG
  SMB_EG
1 coeff.     0.34       -       -       -        -        -
  t-stat.  (2.63)       -       -       -        -        -
2 coeff.     0.22    0.22       -       -        -        -
  t-stat.  (1.75)  (8.03)       -       -        -        -
3 coeff.     0.13    0.21    0.16       -        -        -
  t-stat.  (1.06)  (7.71)  (5.73)       -        -        -
4 coeff.     0.53    0.14    0.12    0.13    -0.41    -0.21
  t-stat.  (4.05)  (5.00)  (4.81)  (1.90)  (-7.79)  (-2.67)