In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
import os
import statsmodels.api as sm

import warnings
warnings.filterwarnings('ignore')

In [2]:
data_dir = "..\\data"

## Read data

In [3]:
def read_ff(filename):
    """
    Read ff portfolios
    """
    df = pd.read_excel(os.path.join(data_dir, filename))
    df['Date'] = pd.to_datetime(df['Date'], format='%Y%m').dt.to_period('M')
    df = df.set_index('Date')
    df = df.loc['1963-07':'2019-12']
    return df


def read_qmj(filename):
    """
    Read QMJ (AQR factor)
    """
    df = pd.read_excel(os.path.join(data_dir, filename))
    df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y').dt.to_period('M')
    df = df.set_index('Date')
    df = df.loc['1963-07':'2019-12']
    return df


def read_qfactors(filename):
    """
    Read Q-Factors
    """
    df = pd.read_excel(os.path.join(data_dir, filename))
    df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y').dt.to_period('M')
    df = df.set_index('Date')
    df = df.loc['1967-01':'2019-12']
    return df
    
def describe(df, n=2):
    print(df.shape)
    display(df.head(n))
    display(df.tail(n))

In [4]:
# FF3
ff3 = read_ff("FF3_US.xlsx")
describe(ff3, n=2)

(678, 4)

         Mkt-RF   SMB   HML    RF
Date
1963-07   -0.39 -0.56 -0.83  0.27
1963-08    5.07 -0.94  1.67  0.25

         Mkt-RF   SMB   HML    RF
Date
2019-11    3.87  0.87 -1.86  0.12
2019-12    2.77  0.68  1.83  0.14

In [5]:
# FF5
ff5 = read_ff("FF5_US.xlsx")
describe(ff5, n=2)

(678, 6)

         Mkt-RF   SMB   HML   RMW   CMA    RF
Date
1963-07   -0.39 -0.47 -0.83  0.66 -1.15  0.27
1963-08    5.07 -0.79  1.67  0.40 -0.40  0.25

         Mkt-RF   SMB   HML   RMW   CMA    RF
Date
2019-11    3.87  0.50 -1.86 -1.50 -1.29  0.12
2019-12    2.77  0.96  1.83  0.21  1.31  0.14

In [6]:
# WML a.k.a Momentum
wml = read_ff("WML_US.xlsx")
describe(wml, n=2)

(678, 1)

          WML
Date
1963-07  1.00
1963-08  1.03

          WML
Date
2019-11 -2.62
2019-12 -2.13

In [7]:
# QMJ - AQR factor
qmj = read_qmj("QMJ_US.xlsx")
describe(qmj, n=2)

(678, 1)

              QMJ
Date
1963-07  0.684436
1963-08 -0.991462

              QMJ
Date
2019-11 -1.824954
2019-12 -2.387856

In [9]:
# Q-factors
q_factors = read_qfactors("QFactor_US.xlsx")
describe(q_factors, n=2)

(636, 6)

            R_F   R_MKT    R_ME      IA     ROE      EG
Date
1967-01  0.3927  8.1603  6.7282 -2.9434  1.8866 -2.2469
1967-02  0.3743  0.7202  1.6918 -0.2064  3.5317  2.5812

            R_F   R_MKT    R_ME      IA     ROE      EG
Date
2019-11  0.1197  3.3774 -0.0261 -1.0127 -1.1667 -0.3332
2019-12  0.1431  2.7017  1.2822  1.8360 -1.3200 -0.7981

In [10]:
ff5_wml = ff5.join(wml)
describe(ff5_wml, n=2)

(678, 7)

         Mkt-RF   SMB   HML   RMW   CMA    RF   WML
Date
1963-07   -0.39 -0.47 -0.83  0.66 -1.15  0.27  1.00
1963-08    5.07 -0.79  1.67  0.40 -0.40  0.25  1.03

         Mkt-RF   SMB   HML   RMW   CMA    RF   WML
Date
2019-11    3.87  0.50 -1.86 -1.50 -1.29  0.12 -2.62
2019-12    2.77  0.96  1.83  0.21  1.31  0.14 -2.13

In [11]:
ff5_qmj = ff5.join(wml).join(qmj)
describe(ff5_qmj, n=2)

(678, 8)

         Mkt-RF   SMB   HML   RMW   CMA    RF   WML       QMJ
Date
1963-07   -0.39 -0.47 -0.83  0.66 -1.15  0.27  1.00  0.684436
1963-08    5.07 -0.79  1.67  0.40 -0.40  0.25  1.03 -0.991462

         Mkt-RF   SMB   HML   RMW   CMA    RF   WML       QMJ
Date
2019-11    3.87  0.50 -1.86 -1.50 -1.29  0.12 -2.62 -1.824954
2019-12    2.77  0.96  1.83  0.21  1.31  0.14 -2.13 -2.387856

In [12]:
ff5_qfactors = q_factors[['IA', 'ROE', 'EG']].join(ff5)
describe(ff5_qfactors, n=2)

(636, 9)

             IA     ROE      EG  Mkt-RF   SMB   HML   RMW   CMA    RF
Date
1967-01 -2.9434  1.8866 -2.2469    8.15  9.00  2.22  0.62 -2.97  0.43
1967-02 -0.2064  3.5317  2.5812    0.78  3.03 -2.17  1.94 -0.94  0.36

             IA     ROE      EG  Mkt-RF   SMB   HML   RMW   CMA    RF
Date
2019-11 -1.0127 -1.1667 -0.3332    3.87  0.50 -1.86 -1.50 -1.29  0.12
2019-12  1.8360 -1.3200 -0.7981    2.77  0.96  1.83  0.21  1.31  0.14

In [13]:
def run_regression(y, X=None):
    """
    Run regression
    """
    if X is not None:
        X = sm.add_constant(X) 
    else:
        X = np.ones((len(y), 1))
        
    model = sm.OLS(endog=y, exog=X).fit()
    coeff = model.params.values
    tvalues = model.tvalues.values
    
    if X.shape[1] == 1:
        return '{0:.2f}'.format(coeff[0]), '({0:.2f})'.format(tvalues[0])
    
    return ['{0:.2f}'.format(x) for x in coeff], ['({0:.2f})'.format(x) for x in tvalues]


def get_exog(df, col):
    """
    Prepare X dataframe as per given column
    """
    if col is 'alpha':
        return None
    elif col == 'Mkt':
        return df[['Mkt-RF']]
    elif col == 'Mkt(-1)':
        X = df[['Mkt-RF']]
        X['Mkt-RF(-1)'] = X['Mkt-RF'].shift(1)
        X = X.dropna()
        return X
    elif col == 'WML':
        X = df[['Mkt-RF', 'HML', 'WML']]
        X['Mkt-RF(-1)'] = X['Mkt-RF'].shift(1)
        X = X.dropna()
        X = X.reindex(columns=['Mkt-RF', 'Mkt-RF(-1)', 'HML', 'WML'])
        return X
    elif col == 'CMA':
        X = df[['Mkt-RF', 'HML', 'WML', 'RMW', 'CMA']]
        X['Mkt-RF(-1)'] = X['Mkt-RF'].shift(1)
        X = X.dropna()
        X = X.reindex(columns=['Mkt-RF', 'Mkt-RF(-1)', 'HML', 'WML', 'RMW', 'CMA'])
        return X
    elif col == 'QMJ':
        X = df[['Mkt-RF', 'HML', 'WML', 'QMJ']]
        X['Mkt-RF(-1)'] = X['Mkt-RF'].shift(1)
        X = X.dropna()
        X = X.reindex(columns=['Mkt-RF', 'Mkt-RF(-1)', 'HML', 'WML', 'QMJ'])
        return X
    elif col == 'EG':
        X = df[['Mkt-RF', 'IA', 'ROE', 'EG']]
        X['Mkt-RF(-1)'] = X['Mkt-RF'].shift(1)
        X = X.dropna()
        X = X.reindex(columns=['Mkt-RF', 'Mkt-RF(-1)', 'IA', 'ROE', 'EG'])
        return X

In [14]:
exhibit1 = pd.DataFrame(columns=['alpha', 'Mkt', 'Mkt(-1)', 'HML', 'WML', 'RMW', 'CMA', 'QMJ', 'IA', 'ROE', 'EG'],
                        index=pd.MultiIndex.from_product([[1, 2, 3, 4, 5, 6, 7], ['coeff.', 't-stat.']]))
exhibit1 = exhibit1.fillna('-')
exhibit1

          alpha Mkt Mkt(-1) HML WML RMW CMA QMJ IA ROE EG
1 coeff.      -   -       -   -   -   -   -   -  -   -  -
  t-stat.     -   -       -   -   -   -   -   -  -   -  -
2 coeff.      -   -       -   -   -   -   -   -  -   -  -
  t-stat.     -   -       -   -   -   -   -   -  -   -  -
3 coeff.      -   -       -   -   -   -   -   -  -   -  -
  t-stat.     -   -       -   -   -   -   -   -  -   -  -
4 coeff.      -   -       -   -   -   -   -   -  -   -  -
  t-stat.     -   -       -   -   -   -   -   -  -   -  -
5 coeff.      -   -       -   -   -   -   -   -  -   -  -
  t-stat.     -   -       -   -   -   -   -   -  -   -  -
6 coeff.      -   -       -   -   -   -   -   -  -   -  -
  t-stat.     -   -       -   -   -   -   -   -  -   -  -
7 coeff.      -   -       -   -   -   -   -   -  -   -  -
  t-stat.     -   -       -   -   -   -   -   -  -   -  -

In [15]:
endogs = [['alpha'], 
          ['alpha', 'Mkt'],
          ['alpha', 'Mkt', 'Mkt(-1)'],
          ['alpha', 'Mkt', 'Mkt(-1)', 'HML', 'WML'], 
          ['alpha', 'Mkt', 'Mkt(-1)', 'HML', 'WML', 'RMW', 'CMA'], 
          ['alpha', 'Mkt', 'Mkt(-1)', 'HML', 'WML', 'QMJ'], 
          ['alpha', 'Mkt', 'Mkt(-1)', 'IA', 'ROE', 'EG']]

for idx, cols in enumerate(endogs, 1):
    y = ff3['SMB']
    end_col = cols[-1]
    if end_col == 'alpha':
        coeff, tvalues = run_regression(y=y, X=None)
        exhibit1.loc[(idx, 'coeff.'), cols] = coeff
        exhibit1.loc[(idx, 't-stat.'), cols] = tvalues
    elif end_col == 'Mkt':
        X = get_exog(df=ff3, col=end_col)
        coeff, tvalues = run_regression(y=y, X=X)
        exhibit1.loc[(idx, 'coeff.'), cols] = coeff
        exhibit1.loc[(idx, 't-stat.'), cols] = tvalues
    elif end_col == 'Mkt(-1)':
        y = y.iloc[1:] # due to Mkt(-1) factor in X variable
        X = get_exog(df=ff3, col=end_col)
        coeff, tvalues = run_regression(y=y, X=X)
        exhibit1.loc[(idx, 'coeff.'), cols] = coeff
        exhibit1.loc[(idx, 't-stat.'), cols] = tvalues
    elif end_col == 'WML':
        y = y.iloc[1:] # due to Mkt(-1) factor in X variable
        X = get_exog(df=ff5_wml, col=end_col)
        coeff, tvalues = run_regression(y=y, X=X)
        exhibit1.loc[(idx, 'coeff.'), cols] = coeff
        exhibit1.loc[(idx, 't-stat.'), cols] = tvalues
    elif end_col == 'CMA':
        y = y.iloc[1:] # due to Mkt(-1) factor in X variable
        X = get_exog(df=ff5_wml, col=end_col)
        coeff, tvalues = run_regression(y=y, X=X)
        exhibit1.loc[(idx, 'coeff.'), cols] = coeff
        exhibit1.loc[(idx, 't-stat.'), cols] = tvalues
    elif end_col == 'QMJ':
        y = y.iloc[1:] # due to Mkt(-1) factor in X variable
        X = get_exog(df=ff5_qmj, col=end_col)
        coeff, tvalues = run_regression(y=y, X=X)
        exhibit1.loc[(idx, 'coeff.'), cols] = coeff
        exhibit1.loc[(idx, 't-stat.'), cols] = tvalues
    elif end_col == 'EG':
        y = y.loc['1967-02':] # need to take SMB factor from Feb 1967 since endog variables start from Jan 1967 and lag
        X = get_exog(df=ff5_qfactors, col=end_col)
        coeff, tvalues = run_regression(y=y, X=X)
        exhibit1.loc[(idx, 'coeff.'), cols] = coeff
        exhibit1.loc[(idx, 't-stat.'), cols] = tvalues

In [16]:
exhibit1

            alpha      Mkt Mkt(-1)      HML     WML       RMW      CMA  \
1 coeff.     0.19        -       -        -       -         -        -
  t-stat.  (1.67)        -       -        -       -         -        -
2 coeff.     0.08     0.20       -        -       -         -        -
  t-stat.  (0.75)   (8.01)       -        -       -         -        -
3 coeff.     0.02     0.20    0.12        -       -         -        -
  t-stat.  (0.21)   (7.83)  (4.83)        -       -         -        -
4 coeff.     0.06     0.18    0.13    -0.13    0.01         -        -
  t-stat.  (0.56)   (6.72)  (5.02)  (-3.25)  (0.53)         -        -
5 coeff.     0.22     0.12    0.12    -0.07    0.04     -0.50    -0.11
  t-stat.  (2.06)   (4.37)  (5.23)  (-1.40)  (1.56)  (-10.09)  (-1.40)
6 coeff.     0.43    -0.01    0.09    -0.21    0.08         -        -
  t-stat.  (3.98)  (-0.23)  (4.18)  (-5.61)  (3.03)         -        -
7 coeff.     0.59     0.06    0.09        -       -         -        -
  t-stat.  (4.79)   (2.34)  (3.86)        -       -         -        -

                QMJ       IA      ROE       EG
1 coeff.          -        -        -        -
  t-stat.         -        -        -        -
2 coeff.          -        -        -        -
  t-stat.         -        -        -        -
3 coeff.          -        -        -        -
  t-stat.         -        -        -        -
4 coeff.          -        -        -        -
  t-stat.         -        -        -        -
5 coeff.          -        -        -        -
  t-stat.         -        -        -        -
6 coeff.      -0.68        -        -        -
  t-stat.  (-12.62)        -        -        -
7 coeff.          -    -0.20    -0.28    -0.34
  t-stat.         -  (-3.23)  (-5.72)  (-4.61)